*{
  padding: 0;
  margin: 0;
}
.container{

  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  height:100vh;
 
}

.container__logo{
  background-color: #fff;
}
.container__logo--vedanta{
  width: 38rem;
}
.container__header{
  font-size: 3rem;
}

.container__forms{
  display: flex;
  flex-direction: column;
  padding: 2rem;
}
.container__forms--form{
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.container__forms--input{
  width: 15rem;
  height: 1.5rem;
  margin: 10px;
}
.container__forms--input::placeholder{
  font-family: Raleway;
  font-weight: 800;
  font-size: 0.8rem;
}
.container__forms--button{
  font-family: Raleway;
  font-weight: bolder;
  font-size: 1.1rem;
}


@media screen and (max-width: 559px){
  .container__logo--vedanta{
    width: 22rem;
  }
  .container__header{
    font-size: 1.7rem;
  }*{
      font-size: 110%;
  }

}
