* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.container__logo {
  background-color: #fff;
}

.container__logo--vedanta {
  width: 100%;
  max-width: 38rem;
  height: auto;
}

@media screen and (max-width: 559px) {
  .container__logo--vedanta {
    max-width: 22rem;
  }
}

.container__header {
  font-size: 3rem;
}

@media screen and (max-width: 559px) {
  .container__header {
    font-size: 1.7rem;
  }
}


.container__forms {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.container__forms--form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container__forms--input {
  background-color: #f1f1f1;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px 12px;
  outline: none;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}

.container__forms--input::placeholder {
  color: #999;
  font-family: Raleway;
  font-weight: 800;
  font-size: 0.8rem;
}

.container__forms--input:focus {
  border-color: #4caf50;
}

.container__forms--button {
  background-color: #4caf50;
  color: white;
  font-size: 16px;
  font-family: RaleWay;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  transition: background-color 0.3s ease;
}

.container__forms--button:hover {
  background-color: #45a049;
}

.container__forms--button:focus {
  outline: none;
}

.container__forms--button:active {
  /* Additional styles when button is pressed */
}

.my-link {
  color: #4caf50;
  text-decoration: none;
}

.my-link:hover {
  text-decoration: underline;
}

.my-link:focus {
  outline: none;
}

.my-link:active {
  /* Additional styles when link is active */
}
